transformers[sentencepiece]>=4.40.0,<5.0.0
datasets
sacrebleu 
rouge_score 
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box>=7.0.0
ensure==1.0.2
fastapi==0.115.0
uvicorn==0.48.0
Jinja2==3.1.2
evaluate